/*UNIVERSAL*/
.slidebar{
  position: absolute;
  bottom: -10%;
}
#searching {

  padding:20px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 10px;
  margin-left: -350px;
}


#searching > input {
  width: 550px;
  height: 30px;
  border: 1px solid black;
  border-radius: 30px;
  font-weight: bold;
  text-align: center;
 box-shadow: 4px 3px 10px grey
 ;
}


#searching > button {
  width: 100px;
  height: 30px;
  border-radius: 50px;
  font-weight: bold;
  background: #31CC6A;
  text-transform: uppercase;
  color: white;
 box-shadow: 5px 3px 10px grey
 ;
}
.isi-nav-kiri a:hover{
  background-color: #5f5f5f;
}

/* Bagian HEADER */

body{
  max-width: 1980px;
  min-width: 1024px;
  margin: 0px;
  padding: 0px;
  background-color: #eee6e3;
}

body > div > div{
    display: inline-block;
}

.top{
  position: relative;
  background-color: white;
  height: 88px;
  padding-top: 20px;
  line-height: 0px;
  overflow: hidden;
  z-index: 1;
  width: 99%;
}

.container{
  padding: 0.01em 16px;
}

.logo{
  max-width: 100%;
  height: auto;
}

.part{
  display:block;
  margin:0px auto;
}

.judul-lebar{
  font-family: "Segoe UI",Arial,sans-serif;
  letter-spacing: 4px;
}

.judul-kanan{
  float: right;
  padding-top: 20px;
  padding-right: 20px;
}


/* bawah ini navigasi hitam */

#nav-top{
  position: relative;
  top: 0px; 
  padding-left: 10px;

}
.topnav-icons-icon-left{
  padding: 10px;
  display: inline-block;
}

.nav-atas{
  z-index: 1;
  font-size: 17px;
  background-color: #1F1F1F;
  color: #FFFFFF;
  width: 100%;
  letter-spacing: 2px;
  height: 42px;
}

.image{
  width: 1200px;
  height: 300px;
  display:block;
  
}

a{
  color: inherit;
  text-decoration: none;
}

.shadow-nav{
  box-shadow: 0 7px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.text-nav{
  font-family: "Segoe UI",Arial,sans-serif;
}

.isi-nav-kiri{
  overflow: hidden;
}



.rank {
  width: 200px;
}

.rank ol li{
  border: solid black 1px;
}

/*navigasi yang terpilih */
.selected{
  background-color:#31CC6A;
  padding: 10px;
  display:inline-block;
  width: 120px;
  height: 22px;
  text-align: center;
}

 /*untuk about us*/

 .about{
    width: 30px;
    height: 20px;
 }

 .login-nav{
  float:right;
  padding: 10px;
}

.login-nav:hover{
  float:right;
  padding: 10px;
  background: #31CC6A;
}


.login-name{
	width: 220px;
}

 .topnav-name{
 	padding-right: 20px;
 }

/*---------------Dropdown----------------*/
.button{
  float: right;
  position: relative;
}

.dropdown>a{
	padding: 9px 20px 12px 10px;
}

.green{
  background-color: #31CC6A;
}

.dropbtn {
	position: relative;
	top: 8px;
  left: -9px;
  
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;

}

.dropbtn:hover{
    background-color: #5f5f5f;
    position: relative;
    top: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 0px;
    margin: 0px;
}

.dropdown-content {
    display: none;
    position: relative;
    left: -9px;
    top: 42px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 221px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.show {
	display:block;
}


 /*-----------------------LOGIN HTML------------------------*/
 /*KOTAK LOGIN*/

.login-kotak {
  position: relative;
  margin:0px auto;
  top: -50px;
  background-color: #2DA696;
  margin-top: 100px;
  text-align: center;
  width: 30%;
  border: 3px solid black;
  border-radius: 20px 60px 30px 100px;
  padding: 10px;
}
 
.login-text{
  display: block;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5em;
  color: #fffff9;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
  width: 90%;
  margin: auto;
  font-family: "Segoe UI",Arial,sans-serif;
}

.user-pass{
  position: relative;
  padding-top: 10px;
  font-family: "Segoe UI",Arial,sans-serif;

}

.login-box{
  text-transform: uppercase;
  border: 1px solid black;  
  opacity: 1.0;
}

.login-box:hover{
  color: white;
  background: red;
  text-transform: uppercase;
  border: 1px solid black;  
}





/*-----------------------LOGIN HTML------------------------*/
/*abou picture*/

.profile-size{
  position: relative;
  width: 200px;
  height: 200px;
  background-color: #003399;
  margin: 50px;
  background: transparent;
}

.profile-size .profile-autosize{
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;

}
@keyframes .profile-autosize img {
  0% {
    transform: translateY(-8px);
  }
 
  50% {
    transform: translateY(-4px);
  }
 
  100% {
    transform: translateY(-80px);
  }
}
@keyframes ulangi {
  100% {
    transform: translateY(-30px);
  }
}
.profile-autosize img{
  display: block;
  width: 100%;
  height: 100%;
  border: 2px solid black;
  border-radius: 50%;
  background: white;
}

.profile-autosize img:hover {
  animation-name: ngambang, ulangi;
  animation-duration: 0.3s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
  box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5);
}

/*Data profile: nama dll*/
.profile-name{
  position: absolute;
  top: 0px;
  left: 230px;
  white-space: nowrap;
  line-height: 0px;
  color: black;
  font-family: 'Motiva Sans Thin',Verdana,sans-serif;

}

.profile-name p:first-child{
  font-size: 40px;
}

.profile-name p{
  font-size: 24px;
}

.profile-about{
  position: relative;
  left: 50px;
  bottom: 30px;
  color: black;
}

.profile-about h1{
  font-size: 40px;
  position: relative;
  top: 20px;
  left: 600px;
}

.profile-about table{
  font-size: 25px;
  color: black;
  line-height: 40px;
}

.profile-about td{
  padding-right: 100px;
}

/*ABOUT US*/
.part{
  padding-left:20px ;
}
#contact{
  
  position: relative;
  padding-right: 10px;
  padding-left:10px;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 20px;
  font-size: 15px;
  background-color: #31CC6A;
  color: #000000;
  font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-weight: bold;
}

/*daftarproduk*/
.produk{
  text-align: center;
  display:inline-block;
  overflow: hidden;
  margin-top: 30px;
}

.produk> img{ 
    height: 125px;
    width: 125px;
    padding: 4px;
    margin: 15px 0 0 15px; 
    border: 3px solid #c0392b;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}

.produk> img:hover{
     border: 3px solid #4183d7;
    transition: all 0.5s ease-in-out;
    transform: scale(1.0) rotate(360deg);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1);
}


  
.keterangan{
  position:relative;
  top:-45px;
  left: 10px;
  display: inline-block;
  color: #000000;
  font-family: 'Fjalla One', sans-serif;
  margin-top: 30px;
  width:500px;
}

.keterangan-post{
  font-family: 'Fjalla One', sans-serif;
  font-weight: bold;
  font-size: 12px;
  padding-left: 50px;
}

.gambar-keterangan{
  width: 180px;
  height: 180px;
  float:left;
}

/*diskripsiproduk*/
.barang {
  width: 70%;
  height: 1366px;
  float:left;
  margin-left: 30px
}

.judul {
  margin-bottom: 0px;
  font-size: 30px;
}

.gambar-barang {
  width: 50%;
  height:400px;
  margin-left: 10px;
}

.list-barang {
  width: 100px;
  height: 50px;
}

.list {
  width: 100%;
  height : 60px;
}

.icon {
  color: white;
  text-align: right;
  border: 4px solid black;
  background-color: blue;
}

/*halaman history*/
.history-list {
  text-align: center;
  width: 100%;
}

.history-list thead {
  font-weight: bold;
}
.login-kotak td{
  margin: 0px auto;
  margin-top: 30px;
  padding: 40px;
}

/*List_---------------~~~~~~~~~~~~~~~~~~~~*/

.listuser{
  text-align: center;
  font-size: 25px;
}

.listuser-table{
  margin: 0px auto;
  margin-top: 30px;
  padding: 40px;
}

.listuser table{
  width: 1000px;
}

.listuser-table td{
  text-align: center;
  border: 1px solid black;
}

.listuser-body td{
  text-align: center;
  padding: 15px;
}

.listuser thead{
  font-weight: bold;
}



/* add produk ------------------------*/

#addproduct{
  text-align: center;
  font-size: 30px;
  margin-bottom: -70px;
}


 /*----- edit --------------------*/
 .editorz{
  font-size: 30px;
  text-align: center;
 }

 .editor{
  font-size: 15px;
  text-align: center;
 }

 .edit-profil{
  width: 150px;
  height: 150px;
  border: 1px solid black;
 }

 .edit-produk-profil{
  width: 150px;
  height: 150px;
  border: 1px solid black;
 }

 .edit-produk-profil img{
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
 }

.login-kotak2{
  position: relative;
  margin:0px auto;
  top: -50px;
  background-color: #2DA696;
  margin-top: 100px;
  text-align: center;
  width: 30%;
  border: 3px solid black;
  border-radius: 20px 60px 30px 100px;
  padding: 10px;
  padding-right: 45px;
}

.login-kotak2 td{
  margin: 0px auto;
  padding: 11px;

}

.login-kotak2-foto{
  position: relative;
  left: 32px;
}

.login-kotak3-foto{
  position: relative;
  left: 45px;
}

.red-alert{
  background-color: red;
}